# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=replace_this_with_a_long_random_string
JWT_EXPIRES_IN=7d

# MySQL (Laragon)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=commerce

# Xendit
XENDIT_SECRET_KEY=
XENDIT_WEBHOOK_TOKEN=

# Defaults
DEFAULT_FREE_UNLOCK=3
